{% extends "base.html" %}
{% load static %}

{% block content %}


    <form action="{% url 'convert' %}" class="playlist-form" method="post">
        {% csrf_token %}
        <select name="playlistID" class="form-select bg-dark text-color" aria-label="Default select example" required>
            {% for key, value in playlists.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        

        <div class="input-group flex-nowrap">
            <span class="input-group-text bg-dark text-color" id="addon-wrapping">YouTube Playlist Name:</span>
            <input type="text" class="form-control bg-dark text-color" style="color: #E4E6EB;" placeholder="My YouTube Playlist" name="playlist_name" required>
        </div>
        <div class="text-center">
            <input class="btn btn-dark submit-button" type="submit" value="Submit">
        </div>
    </form>
    <div class="text-center">
        <a type="button" class="btn btn-dark reset-button" href="http://127.0.0.1:8000/reset/">Restart</a>
    </div>

    
  
{% endblock %}