{% extends "base.html" %}
{% load static %}

{% block content %}


    <form action="{% url 'convert' %}" method="post">
        {% csrf_token %}
        <select name="playlistID" class="form-select" aria-label="Default select example" required>
            {% for key, value in playlists.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        

        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Playlist Name:</span>
            <input type="text" class="form-control" placeholder="My YouTube Playlist" name="playlist_name">
        </div>

        <input class="btn btn-dark" type="submit" value="Submit">

    </form>
  
{% endblock %}